<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwxf.industry4.webapp.domain.dao.statements.factory.dealerStatement.DealerStatementDao">
    <select id="findDealerStatementByWeek"  resultType="com.lwxf.industry4.webapp.domain.dto.statement.CountByWeekDto">
        <if test="countType != null and countType != ''and countType =='0'.toString()">
            <![CDATA[
            select
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1 and date_format(contract_time,'%Y-%m-%d')  <=  (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-1))) as mon,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1 and date_format(contract_time,'%Y-%m-%d')  <=  (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-2))) as tues,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1 and date_format(contract_time,'%Y-%m-%d')  <=  (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-3))) as wed,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1 and date_format(contract_time,'%Y-%m-%d')  <= (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-4))) as thur,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1 and date_format(contract_time,'%Y-%m-%d')  <=  (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-5))) as fri,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1 and date_format(contract_time,'%Y-%m-%d')  <=  (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-6))) as sat,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1 and date_format(contract_time,'%Y-%m-%d')  <=  (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-7))) as sun
            ]]>
        </if>
        <if test="countType != null and countType != ''and countType =='1'.toString()">
            <![CDATA[
            select
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1 and date_format(contract_time,'%Y-%m-%d') = (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-1))) as mon,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1 and date_format(contract_time,'%Y-%m-%d') = (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-2))) as tues,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1 and date_format(contract_time,'%Y-%m-%d') = (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-3))) as wed,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1 and date_format(contract_time,'%Y-%m-%d') = (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-4))) as thur,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1 and date_format(contract_time,'%Y-%m-%d') = (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-5))) as fri,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1 and date_format(contract_time,'%Y-%m-%d') = (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-6))) as sat,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1 and date_format(contract_time,'%Y-%m-%d') = (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-7))) as sun
            ]]>
        </if>
        <if test="countType != null and countType != ''and countType =='2'.toString()">
            <![CDATA[
            select
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2 and date_format(retire_net_time,'%Y-%m-%d') = (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-1))) as mon,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2 and date_format(retire_net_time,'%Y-%m-%d') = (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-2))) as tues,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2 and date_format(retire_net_time,'%Y-%m-%d') = (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-3))) as wed,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2 and date_format(retire_net_time,'%Y-%m-%d') = (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-4))) as thur,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2 and date_format(retire_net_time,'%Y-%m-%d') = (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-5))) as fri,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2 and date_format(retire_net_time,'%Y-%m-%d') = (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-6))) as sat,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2 and date_format(retire_net_time,'%Y-%m-%d') = (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-7))) as sun
            ]]>
        </if>
        <if test="countType != null and countType != ''and countType =='3'.toString()">
        <![CDATA[
            select
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0 and date_format(created,'%Y-%m-%d') = (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-1))) as mon,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0 and date_format(created,'%Y-%m-%d') = (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-2))) as tues,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0 and date_format(created,'%Y-%m-%d') = (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-3))) as wed,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0 and date_format(created,'%Y-%m-%d') = (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-4))) as thur,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0 and date_format(created,'%Y-%m-%d') = (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-5))) as fri,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0 and date_format(created,'%Y-%m-%d') = (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-6))) as sat,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0 and date_format(created,'%Y-%m-%d') = (select subdate(curdate(),if(date_format(curdate(),'%w')=0,7,date_format(curdate(),'%w'))-7))) as sun
            ]]>
        </if>
    </select>

    <select id="findDealerStatementByMonth"  resultType="com.lwxf.industry4.webapp.domain.dto.statement.CountByMonthDto">
        <if test="countType != null and countType != ''and countType =='0'.toString()">
            <![CDATA[
      select
       (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1 and   date_format(contract_time,'%Y-%m-%d') < date_format(#{twoTime},'%Y-%m-%d') )  as point1,
       (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1 and   date_format(contract_time,'%Y-%m-%d') < date_format(#{threeTime},'%Y-%m-%d')) as point2,
       (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1 and   date_format(contract_time,'%Y-%m-%d') < date_format(#{fourTime},'%Y-%m-%d')) as point3,
       (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1 and   date_format(contract_time,'%Y-%m-%d') <= date_format(#{fiveTime},'%Y-%m-%d')) as point4
       ]]>
        </if>
        <if test="countType != null and countType != ''and countType =='1'.toString()">
            <![CDATA[
      select
       (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and date_format(contract_time,'%Y-%m-%d') >= date_format(#{oneTime},'%Y-%m-%d') and date_format(contract_time,'%Y-%m-%d')   < date_format(#{twoTime},'%Y-%m-%d'))  as point1,
       (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and date_format(contract_time,'%Y-%m-%d') >= date_format(#{twoTime},'%Y-%m-%d') and date_format(contract_time,'%Y-%m-%d')   < date_format(#{threeTime},'%Y-%m-%d')) as point2,
       (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and date_format(contract_time,'%Y-%m-%d') >= date_format(#{threeTime},'%Y-%m-%d') and date_format(contract_time,'%Y-%m-%d') < date_format(#{fourTime},'%Y-%m-%d')) as point3,
       (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and date_format(contract_time,'%Y-%m-%d') >= date_format(#{fourTime},'%Y-%m-%d') and date_format(contract_time,'%Y-%m-%d') <= date_format(#{fiveTime},'%Y-%m-%d')) as point4
       ]]>
        </if>
        <if test="countType != null and countType != ''and countType =='2'.toString()">
        <![CDATA[
      select
       (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2  and date_format(retire_net_time,'%Y-%m-%d') >= date_format(#{oneTime},'%Y-%m-%d') and date_format(retire_net_time,'%Y-%m-%d')   < date_format(#{twoTime},'%Y-%m-%d'))  as point1,
       (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2  and date_format(retire_net_time,'%Y-%m-%d') >= date_format(#{twoTime},'%Y-%m-%d') and date_format(retire_net_time,'%Y-%m-%d')   < date_format(#{threeTime},'%Y-%m-%d')) as point2,
       (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2  and date_format(retire_net_time,'%Y-%m-%d') >= date_format(#{threeTime},'%Y-%m-%d') and date_format(retire_net_time,'%Y-%m-%d') < date_format(#{fourTime},'%Y-%m-%d')) as point3,
       (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2  and date_format(retire_net_time,'%Y-%m-%d') >= date_format(#{fourTime},'%Y-%m-%d') and date_format(retire_net_time,'%Y-%m-%d') <= date_format(#{fiveTime},'%Y-%m-%d')) as point4
       ]]>
    </if>
        <if test="countType != null and countType != ''and countType =='3'.toString()">
            <![CDATA[
     select
       (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0  and date_format(created,'%Y-%m-%d') >= date_format(#{oneTime},'%Y-%m-%d') and date_format(created,'%Y-%m-%d')   < date_format(#{twoTime},'%Y-%m-%d'))  as point1,
       (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0  and date_format(created,'%Y-%m-%d') >= date_format(#{twoTime},'%Y-%m-%d') and date_format(created,'%Y-%m-%d')   < date_format(#{threeTime},'%Y-%m-%d')) as point2,
       (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0  and date_format(created,'%Y-%m-%d') >= date_format(#{threeTime},'%Y-%m-%d') and date_format(created,'%Y-%m-%d') < date_format(#{fourTime},'%Y-%m-%d')) as point3,
       (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0  and date_format(created,'%Y-%m-%d') >= date_format(#{fourTime},'%Y-%m-%d') and date_format(created,'%Y-%m-%d') <= date_format(#{fiveTime},'%Y-%m-%d')) as point4
       ]]>
        </if>
    </select>

    <select id="findDealerStatementByQuarter"  resultType="com.lwxf.industry4.webapp.domain.dto.statement.CountByQuarterDto">
        <if test="countType != null and countType != ''and countType =='0'.toString()">
            <![CDATA[
            select
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and date_format(contract_time,'%m')  <=  #{firstMonth}) as month1,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and date_format(contract_time,'%m')  <=  #{secondMonth}) as month2,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and date_format(contract_time,'%m')  <=  #{thirdMonth}) as month3
            ]]>
        </if>
        <if test="countType != null and countType != ''and countType =='1'.toString()">
            <![CDATA[
            select
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and  month(contract_time)=#{firstMonth}) as month1,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and  month(contract_time)=#{secondMonth}) as month2,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and  YEAR(contract_time)=YEAR(NOW()) and  month(contract_time)=#{thirdMonth}) as month3
            ]]>
        </if>
        <if test="countType != null and countType != ''and countType =='2'.toString()">
            <![CDATA[
            select
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2  and YEAR(retire_net_time)=YEAR(NOW()) and  month(retire_net_time)=#{firstMonth}) as month1,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2  and YEAR(retire_net_time)=YEAR(NOW()) and  month(retire_net_time)=#{secondMonth}) as month2,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2  and YEAR(retire_net_time)=YEAR(NOW()) and  month(retire_net_time)=#{thirdMonth}) as month3
            ]]>
        </if>
        <if test="countType != null and countType != ''and countType =='3'.toString()">
            <![CDATA[
            select
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0 and YEAR(created)=YEAR(NOW()) and  month(created)=#{firstMonth}) as month1,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0 and YEAR(created)=YEAR(NOW()) and  month(created)=#{secondMonth}) as month2,
            (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0 and YEAR(created)=YEAR(NOW()) and   month(created)=#{thirdMonth}) as month3
            ]]>
        </if>
    </select>

    <select id="findDealerStatementByYear"  resultType="com.lwxf.industry4.webapp.domain.dto.statement.CountByYearDto">
        <if test="countType != null and countType != ''and countType =='0'.toString()">
        <![CDATA[
        select
         (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and month(contract_time)<=1) as jan,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and month(contract_time)<=2) as feb,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and month(contract_time)<=3) as mar,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and month(contract_time)<=4) as apr,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and month(contract_time)<=5) as may,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and month(contract_time)<=6) as jun,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and month(contract_time)<=7) as jul,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and month(contract_time)<=8) as aug,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and month(contract_time)<=9) as sept,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and month(contract_time)<=10) as oct,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and month(contract_time)<=11) as nov,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and month(contract_time)<=12) as dece
        ]]>
        </if>
        <if test="countType != null and countType != ''and countType =='1'.toString()">
            <![CDATA[
        select
         (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and month(contract_time)=1) as jan,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and month(contract_time)=2) as feb,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and month(contract_time)=3) as mar,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and month(contract_time)=4) as apr,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and month(contract_time)=5) as may,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and month(contract_time)=6) as jun,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and month(contract_time)=7) as jul,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and month(contract_time)=8) as aug,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and month(contract_time)=9) as sept,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and month(contract_time)=10) as oct,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and month(contract_time)=11) as nov,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=1  and YEAR(contract_time)=YEAR(NOW()) and month(contract_time)=12) as dece
        ]]>
        </if>
        <if test="countType != null and countType != ''and countType =='2'.toString()">
            <![CDATA[
        select
         (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2  and YEAR(retire_net_time)=YEAR(NOW()) and month(retire_net_time)=1) as jan,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2  and YEAR(retire_net_time)=YEAR(NOW()) and month(retire_net_time)=2) as feb,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2  and YEAR(retire_net_time)=YEAR(NOW()) and month(retire_net_time)=3) as mar,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2  and YEAR(retire_net_time)=YEAR(NOW()) and month(retire_net_time)=4) as apr,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2  and YEAR(retire_net_time)=YEAR(NOW()) and month(retire_net_time)=5) as may,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2  and YEAR(retire_net_time)=YEAR(NOW()) and month(retire_net_time)=6) as jun,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2  and YEAR(retire_net_time)=YEAR(NOW()) and month(retire_net_time)=7) as jul,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2  and YEAR(retire_net_time)=YEAR(NOW()) and month(retire_net_time)=8) as aug,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2  and YEAR(retire_net_time)=YEAR(NOW()) and month(retire_net_time)=9) as sept,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2  and YEAR(retire_net_time)=YEAR(NOW()) and month(retire_net_time)=10) as oct,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2  and YEAR(retire_net_time)=YEAR(NOW()) and month(retire_net_time)=11) as nov,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=2  and YEAR(retire_net_time)=YEAR(NOW()) and month(retire_net_time)=12) as dece
        ]]>
        </if>
        <if test="countType != null and countType != ''and countType =='3'.toString()">
            <![CDATA[
        select
         (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0 and YEAR(created)=YEAR(NOW()) and month(created)=1) as jan,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0 and YEAR(created)=YEAR(NOW()) and month(created)=2) as feb,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0 and YEAR(created)=YEAR(NOW()) and month(created)=3) as mar,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0 and YEAR(created)=YEAR(NOW()) and month(created)=4) as apr,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0 and YEAR(created)=YEAR(NOW()) and month(created)=5) as may,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0 and YEAR(created)=YEAR(NOW()) and month(created)=6) as jun,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0 and YEAR(created)=YEAR(NOW()) and month(created)=7) as jul,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0 and YEAR(created)=YEAR(NOW()) and month(created)=8) as aug,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0 and YEAR(created)=YEAR(NOW()) and month(created)=9) as sept,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0 and YEAR(created)=YEAR(NOW()) and month(created)=10) as oct,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0 and YEAR(created)=YEAR(NOW()) and month(created)=11) as nov,
        (select count(*) from company where type!=0 and branch_id=#{branchId} and status=0 and YEAR(created)=YEAR(NOW()) and month(created)=12) as dece
        ]]>
        </if>
    </select>
    <select id="findDealerStatements" resultType="integer">
        <if test="countType != null and countType != ''and countType =='0'.toString()">
            select
            (select count(*)  from company
            <where><trim prefixOverrides="AND">
                type <![CDATA[ != ]]> 0 and branch_id=#{branchId} and status=0
                <if test="date != null">
                    and date_format(contract_time,'%Y-%m-%d') <![CDATA[ <= ]]> date_format(#{date},'%Y-%m-%d')
                </if>
                <if test="beginDate != null and endDate != ''">
                    <![CDATA[
                and  date_format(contract_time,'%Y-%m-%d') >= #{beginDate} and date_format(contract_time,'%Y-%m-%d') <= #{endDate}
                ]]>
                </if>

                <if test="cityId != null">
                    and city_area_id=#{cityId}
                </if>
                <if test="salesmanId != null">
                    AND business_manager=#{salesmanId}
                </if>
            </trim></where>) as count
        </if>
        <if test="countType != null and countType != ''and countType =='1'.toString()">
            select
            (select count(*)  from company
            <where><trim prefixOverrides="AND">
                type!=0 and branch_id=#{branchId} and status=0
                <if test="date != null">
                    and date_format(contract_time,'%Y-%m-%d') = date_format(#{date},'%Y-%m-%d')
                </if>
                <if test="beginDate != null and endDate != ''">
                    <![CDATA[
                and  date_format(contract_time,'%Y-%m-%d') >= #{beginDate} and date_format(contract_time,'%Y-%m-%d') <= #{endDate}
                ]]>
                </if>
                <if test="cityId != null">
                    and city_area_id=#{cityId}
                </if>
                <if test="salesmanId != null">
                    AND business_manager=#{salesmanId}
                </if>
            </trim></where>) as count

        </if>
        <if test="countType != null and countType != ''and countType =='2'.toString()">
            select
            (select count(*)  from company
            <where><trim prefixOverrides="AND">
                type!=0 and branch_id=#{branchId} and status=0
                <if test="date != null">
                    and date_format(retire_net_time,'%Y-%m-%d') =  date_format(#{date},'%Y-%m-%d')
                </if>
                <if test="beginDate != null and endDate != ''">
                    <![CDATA[
                and  date_format(contract_time,'%Y-%m-%d') >= #{beginDate} and date_format(contract_time,'%Y-%m-%d') <= #{endDate}
                ]]>
                </if>
                <if test="cityId != null">
                    and city_area_id=#{cityId}
                </if>
                <if test="salesmanId != null">
                    AND business_manager=#{salesmanId}
                </if>
            </trim></where>) as count

        </if>
        <if test="countType != null and countType != ''and countType =='3'.toString()">
        select
         (select count(*)  from company
        <where><trim prefixOverrides="AND">
            type!=0 and branch_id=#{branchId} and status=0
            <if test="date != null">
                and date_format(created,'%Y-%m-%d') =  date_format(#{date},'%Y-%m-%d')
            </if>
            <if test="beginDate != null and endDate != ''">
                <![CDATA[
                and  date_format(contract_time,'%Y-%m-%d') >= #{beginDate} and date_format(contract_time,'%Y-%m-%d') <= #{endDate}
                ]]>
            </if>
            <if test="cityId != null">
              and city_area_id=#{cityId}
            </if>
            <if test="salesmanId != null">
                AND business_manager=#{salesmanId}
            </if>
        </trim></where>) as count
        </if>
    </select>
</mapper>