<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwxf.industry4.webapp.domain.dao.dispatch.DispatchBillPlanDao">
    <resultMap id="DispatchBillPlanMap" type="com.lwxf.industry4.webapp.domain.entity.dispatch.DispatchBillPlan">
        <id column="id" property="id" jdbcType="CHAR" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="creator" property="creator" jdbcType="CHAR" />
        <result column="num" property="num" jdbcType="INTEGER" />
        <result column="updated" property="updated" jdbcType="TIMESTAMP" />
        <result column="updator" property="updator" jdbcType="CHAR" />
        <result column="note" property="note" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="columns">
id, status, created, creator, num, updated, updator,note
</sql>

    <select id="selectById" resultMap="DispatchBillPlanMap" parameterType="String">
SELECT <include refid="columns" />
FROM   dispatch_bill_plan
WHERE  id = #{id}
</select>

    <select id="selectByFilter" resultMap="DispatchBillPlanMap">
SELECT <include refid="columns" />
FROM   dispatch_bill_plan
<where><trim prefixOverrides="AND">
<if test="id != null">
    id = #{id}
</if>
<if test="status != null">
    AND status = #{status}
</if>
<if test="created != null">
    AND created = #{created}
</if>
<if test="creator != null">
    AND creator = #{creator}
</if>
<if test="num != null">
    AND num = #{num}
</if>
<if test="updated != null">
    AND updated = #{updated}
</if>
<if test="updator != null">
    AND updator = #{updator}
</if>
    <if test="note != null">
        AND note = #{note}
    </if>
</trim></where>

</select>

    <insert id="insert" useGeneratedKeys="false">
INSERT INTO 
dispatch_bill_plan(id, status, created, creator, num, updated, updator,note)
            VALUES(#{id}, #{status}, #{created}, #{creator}, #{num}, #{updated}, #{updator},#{note})
</insert>

    <update id="updateByMapContext">
UPDATE dispatch_bill_plan
<set><trim suffixOverrides=",">
<if test="_parameter.containsKey('status')">
    status = #{status},
</if>
    <if test="_parameter.containsKey('created') and created != null">
    created = #{created},
</if>
    <if test="_parameter.containsKey('creator') and creator != null">
    creator = #{creator},
</if>
    <if test="_parameter.containsKey('num') and num != null">
    num = #{num},
</if>
    <if test="_parameter.containsKey('updated')">
    updated = #{updated},
</if>
    <if test="_parameter.containsKey('updator')">
    updator = #{updator},
</if>
    <if test="_parameter.containsKey('note')">
        note = #{note}
    </if>
</trim></set>
WHERE  id = #{id}
</update>

    <delete id="deleteById" parameterType="String">
DELETE FROM   dispatch_bill_plan
WHERE  id = #{id}
</delete>

</mapper>
