<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwxf.industry4.webapp.domain.dao.dispatch.DispatchBillDao">
    <resultMap id="DispatchBillMap" type="com.lwxf.industry4.webapp.domain.entity.dispatch.DispatchBill">
        <id column="id" property="id" jdbcType="CHAR"/>
        <result column="order_id" property="orderId" jdbcType="CHAR"/>
        <result column="order_no" property="orderNo" jdbcType="VARCHAR"/>
        <result column="no" property="no" jdbcType="VARCHAR"/>
        <result column="finished_stock_id" property="finishedStockId" jdbcType="CHAR"/>
        <result column="plan_date" property="planDate" jdbcType="DATE"/>
        <result column="actual_date" property="actualDate" jdbcType="DATE"/>
        <result column="consignee" property="consignee" jdbcType="VARCHAR"/>
        <result column="consignee_tel" property="consigneeTel" jdbcType="CHAR"/>
        <result column="city_area_id" property="cityAreaId" jdbcType="CHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="logistics_company_id" property="logisticsCompanyId" jdbcType="VARCHAR"/>
        <result column="logistics_no" property="logisticsNo" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="creator" property="creator" jdbcType="CHAR"/>
        <result column="created" property="created" jdbcType="TIMESTAMP"/>
        <result column="notes" property="notes" jdbcType="VARCHAR"/>
        <result column="deliverer" property="deliverer" jdbcType="CHAR"/>
        <result column="delivererTel" property="delivererTel" jdbcType="CHAR"/>
    </resultMap>
    <resultMap id="DispatchBillMapDto" type="com.lwxf.industry4.webapp.domain.dto.dispatch.DispatchBillDto">
        <id column="id" property="id" jdbcType="CHAR"/>
        <result column="order_id" property="orderId" jdbcType="CHAR"/>
        <result column="order_no" property="orderNo" jdbcType="VARCHAR"/>
        <result column="no" property="no" jdbcType="VARCHAR"/>
        <result column="finished_stock_id" property="finishedStockId" jdbcType="CHAR"/>
        <result column="plan_date" property="planDate" jdbcType="DATE"/>
        <result column="actual_date" property="actualDate" jdbcType="DATE"/>
        <result column="consignee" property="consignee" jdbcType="VARCHAR"/>
        <result column="consignee_tel" property="consigneeTel" jdbcType="CHAR"/>
        <result column="city_area_id" property="cityAreaId" jdbcType="CHAR"/>
        <result column="address" property="address" jdbcType="VARCHAR"/>
        <result column="notes" property="notes" jdbcType="VARCHAR"/>
        <result column="logistics_company_id" property="logisticsCompanyId" jdbcType="VARCHAR"/>
        <result column="logistics_no" property="logisticsNo" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="creator" property="creator" jdbcType="CHAR"/>
        <result column="created" property="created" jdbcType="TIMESTAMP"/>
        <result column="consignorName" property="consignorName" jdbcType="VARCHAR"/>
        <result column="logisticsName" property="logisticsName" jdbcType="VARCHAR"/>
        <result column="dealerName" property="dealerName"/>
        <result column="dealerAddress" property="dealerAddress"/>
        <result column="orderConsigneeName" property="orderConsigneeName"/>
        <result column="orderConsigneeAddress" property="orderConsigneeAddress"/>
        <result column="dealerCityAreaId" property="dealerCityAreaId"/>
        <result column="orderConsigneeCityAreaId" property="orderConsigneeCityAreaId"/>
        <result column="dealerTel" property="dealerTel"/>
        <result column="orderConsigneeTel" property="orderConsigneeTel"/>
    </resultMap>

    <resultMap id="DispatchBillPlanItemMapDto" type="com.lwxf.industry4.webapp.domain.dto.dispatch.DispatchBillPlanItemDto">
        <result column="dispatchBillPlanId" property="dispatchBillPlanId"/>
        <result column="orderNo" property="orderNo"/>
        <result column="dispatchBillId" property="dispatchBillId"/>
        <result column="orderId" property="orderId"/>
        <result column="finishedStockItemId" property="finishedStockItemId"/>
        <result column="created" property="created"/>
        <result column="companyName" property="companyName"/>
        <result column="finishedStockId" property="finishedStockId"/>
        <result column="dispatchBillItemId" property="dispatchBillItemId"/>
        <result column="barcode" property="barcode"/>
        <result column="customerName" property="customerName"/>
        <result column="status" property="status"/>
    </resultMap>

    <resultMap id="DispatchBillItemMap" type="com.lwxf.industry4.webapp.domain.dto.dispatch.DispatchBillItemDto">
        <id column="id" property="id" jdbcType="CHAR"/>
        <result column="dispatch_bill_id" property="dispatchBillId" jdbcType="CHAR"/>
        <result column="finished_stock_item_id" property="finishedStockItemId" jdbcType="CHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="barcode" property="barcode"/>
        <result column="type" property="type"/>
    </resultMap>
    <sql id="columns">
id, order_id, order_no, no, finished_stock_id, plan_date, actual_date, consignee, consignee_tel, city_area_id, address, logistics_company_id, logistics_no, status, creator, created,notes,deliverer,deliverer_tel
</sql>

    <sql id="columnDtos">
d.id, d.order_id, d.order_no, d.no, d.finished_stock_id, d.plan_date, d.actual_date, d.consignee, d.consignee_tel, d.city_area_id, d.address, d.logistics_company_id, d.logistics_no, d.status, d.creator, d.created,d.logisticsName,u.name consignorName,
d.dealerName ,d.dealerAddress ,d.orderConsigneeName ,d.orderConsigneeAddress ,d.dealerCityAreaId ,d.orderConsigneeCityAreaId ,d.dealerTel ,d.orderConsigneeTel,d.notes
</sql>

    <sql id="columnItemDtos">
d.id, d.dispatch_bill_id, d.finished_stock_item_id, d.status,item.type,item.barcode
</sql>
    <sql id="columnItems">
id, dispatch_bill_id, finished_stock_item_id, status
</sql>
    <select id="selectById" resultMap="DispatchBillMap" parameterType="String">
        SELECT
        <include refid="columns"/>
        FROM dispatch_bill
        WHERE id = #{id}
    </select>

    <select id="findDispatchsByOrderId" resultMap="DispatchBillMapDto">
        select
        db.id,db.no,db.logistics_no,db.status,u.name as consignorName,lc.name as logisticsName,db.actual_date as created
        from dispatch_bill db
        left join user u on u.id = db.creator
        left join logistics_company lc on lc.id = db.logistics_company_id
        WHERE db.order_id = #{orderId} and db.status &gt; 0
        order by db.created desc
    </select>

    <select id="findDispatchsBillById" resultMap="DispatchBillMapDto">
        select
        lc.name as logisticsName, db.logistics_no,db.actual_date,db.status
        from logistics_company lc
        LEFT JOIN dispatch_bill db on lc.id = db.logistics_company_id
        where db.id = #{dispatchId}
    </select>
    <select id="findDispathcBillList" resultMap="DispatchBillPlanItemMapDto">
        select co.no orderNo,c.name companyName,u.name customerName,co.id orderId,fsi.barcode,
        dbpi.status,dbpi.dispatch_bill_plan_id dispatchBillPlanId,db.created,db.id dispatchBillId,
        fsi.id finishedStockItemId,dbi.id dispatchBillItemId,fs.id finishedStockId
        from dispatch_bill db
        right join dispatch_bill_item dbi on dbi.dispatch_bill_id=db.id
        right join finished_stock_item fsi on dbi.finished_stock_item_id = fsi.id
        right join  dispatch_bill_plan_item dbpi on dbpi.finished_stock_item_id=fsi.id
        left join finished_stock fs on fsi.finished_stock_id = fs.id
        left join custom_order co on fs.order_id = co.id
        left join company c on co.company_id = c.id
        left join user u on co.customer_id = u.id
        <where>
            <trim prefixOverrides="AND">
                <if test="dealerName != null">
                    c.name like '%${dealerName}%'
                </if>
                <if test="customerName != null">
                    and u.name like '%${customerName}%'
                </if>
                <if test="mergerName != null">
                    and co.city_area_id in ( SELECT id from city_area where merger_name like '%${mergerName}%')
                </if>
                <if test="orderNo != null">
                    and fs.order_no like '%${orderNo}%'
                </if>
                <if test="status !=null">
                    and dbpi.status = #{status}
                </if>
                <if test="startTime != null">
                    and date_format(db.actual_date,'%Y-%m-%d') &gt;= #{startTime}
                </if>
                <if test="endTime != null">
                    and date_format(db.actual_date,'%Y-%m-%d') &lt; #{endTime}
                </if>
                <if test="today != null">
                    and to_days(db.actual_date) = to_days(now())
                </if>
                <if test="thisMonth != null">
                    and DATE_FORMAT( db.actual_date, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' )
                </if>
            </trim>
        </where>
    </select>

    <select id="selectByFilter" resultMap="DispatchBillMapDto">
        SELECT
        <include refid="columnDtos"/>
        FROM (select d.*,l.name logisticsName from
        (select d.*,o.city_area_id orderConsigneeCityAreaId,o.address orderConsigneeAddress,o.customer_tel orderConsigneeTel,o.orderConsigneeName,o.dealerCityAreaId,o.dealerAddress,o.dealerName,o.dealerTel from dispatch_bill d left
        join (select c.*,u.name orderConsigneeName from
        (select c.*,com.city_area_id dealerCityAreaId,com.address dealerAddress,com.dealerName,com.leader_tel dealerTel  from custom_order c left join (select com.*,u.name dealerName from company com left join user u on com.leader=u.id ) com on c.company_id = com.id  )
        c left join user u on c.customer_id = u.id) o on
        d.order_id = o.id )
        d left join logistics_company l on d.logistics_company_id = l.id) d left join user u on d.creator = u.id
        <where>
            <trim prefixOverrides="AND">
                <if test="id != null">
                    d.id = #{id}
                </if>
                <if test="orderId != null">
                    AND d.order_id = #{orderId}
                </if>
                <if test="orderNo != null">
                    AND d.order_no = #{orderNo}
                </if>
                <if test="no != null">
                    AND d.no like CONCAT('%',#{no},'%')
                </if>
                <if test="finishedStockId != null">
                    AND d.finished_stock_id = #{finishedStockId}
                </if>
                <if test="planDate != null">
                    AND d.plan_date = #{planDate}
                </if>
                <if test="actualDate != null">
                    AND d.actual_date = #{actualDate}
                </if>
                <if test="consignee != null">
                    AND d.consignee = #{consignee}
                </if>
                <if test="consigneeTel != null">
                    AND d.consignee_tel = #{consigneeTel}
                </if>
                <if test="cityAreaId != null">
                    AND d.city_area_id = #{cityAreaId}
                </if>
                <if test="address != null">
                    AND d.address = #{address}
                </if>
                <if test="logisticsCompanyId != null">
                    AND d.logistics_company_id = #{logisticsCompanyId}
                </if>
                <if test="logisticsNo != null">
                    AND d.logistics_no = #{logisticsNo}
                </if>
                <if test="status != null">
                    AND d.status = #{status}
                </if>
                <if test="creator != null">
                    AND d.creator = #{creator}
                </if>
                <if test="created != null">
                    AND d.created = #{created}
                </if>
                <if test="notes != null">
                    AND d.notes = #{notes}
                </if>
                <if test="deliverer != null">
                    AND d.deliverer = #{deliverer}
                </if>
                <if test="delivererTel != null">
                    AND d.delivererTel = #{delivererTel}
                </if>
            </trim>
        </where>

    </select>

    <insert id="insert" useGeneratedKeys="false">
INSERT INTO 
dispatch_bill(id, order_id, order_no, no, finished_stock_id, plan_date, actual_date, consignee, consignee_tel, city_area_id, address, logistics_company_id, logistics_no, status, creator, created,notes,deliverer,deliverer_tel)
       VALUES(#{id}, #{orderId}, #{orderNo}, #{no}, #{finishedStockId}, #{planDate}, #{actualDate}, #{consignee}, #{consigneeTel}, #{cityAreaId}, #{address}, #{logisticsCompanyId}, #{logisticsNo}, #{status}, #{creator}, #{created},#{notes},#{deliverer},#{delivererTel})
</insert>

    <update id="updateByMapContext">
        UPDATE dispatch_bill
        <set>
            <trim suffixOverrides=",">
                <if test="_parameter.containsKey('planDate') and planDate != null">
                    plan_date = #{planDate},
                </if>
                <if test="_parameter.containsKey('actualDate')">
                    actual_date = #{actualDate},
                </if>
                <if test="_parameter.containsKey('logisticsCompanyId')">
                    logistics_company_id = #{logisticsCompanyId},
                </if>
                <if test="_parameter.containsKey('logisticsNo')">
                    logistics_no = #{logisticsNo},
                </if>
                <if test="_parameter.containsKey('status') and status != null">
                    status = #{status}
                </if>
            </trim>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteById" parameterType="String">
DELETE FROM   dispatch_bill
WHERE  id = #{id}
</delete>


    <select id="findListByDispatchId" resultMap="DispatchBillItemMap">
        select
        <include refid="columnItemDtos"/>
        from dispatch_bill_item d left join finished_stock_item item on d.finished_stock_item_id = item.id where
        d.dispatch_bill_id = #{id}
    </select>

    <select id="findOneByNo" resultMap="DispatchBillMap">
        select
        <include refid="columns"/>
        from dispatch_bill where no = #{no}
    </select>
    <select id="findItemListById" resultMap="DispatchBillItemMap">
        select
        <include refid="columnItems"/>
        from dispatch_bill_item where dispatch_bill_id = #{id}
    </select>

    <select id="findYSHItemCount" resultType="java.lang.Integer">
        select count(0) from  dispatch_bill d right join dispatch_bill_item item on d.id = item.dispatch_bill_id where d.status = 3 and d.order_id = #{orderId}
    </select>
    <select id="findTimeByOrderId" resultType="java.lang.String">
        select min(created) as listTime
        from dispatch_list
        where order_id = #{orderId}
        limit 1
    </select>
    <select id="findTodayCount" resultType="integer">
        select count(*) from dispatch_bill_item  dbi
        where
          dbi.dispatch_bill_id in (select id from dispatch_bill where to_days(created) = to_days(now()))
    </select>

    <select id="findTobeShipped" resultType="integer">
        SELECT count(*) FROM dispatch_bill_plan_item dbpi WHERE dbpi.status='0'
    </select>

    <select id="findThisMonthCount" resultType="integer">
        select count(*) from dispatch_bill_item  dbi
        where dbi.dispatch_bill_id in
              (select id from dispatch_bill where DATE_FORMAT(created, '%Y%m' ) = DATE_FORMAT( CURDATE( ) , '%Y%m' ))
    </select>

    <select id="findDispatchListByOrderId" resultMap="DispatchBillMap">
        SELECT id FROM dispatch_bill WHERE order_id=#{orderId}
    </select>
    <select id="findFactoryDispatchsByOrderId" resultType="java.util.Map">
      select
      db.id,db.logistics_no as no,db.actual_date,lc.name as logisticsName
      from dispatch_bill db
      left join logistics_company lc on lc.id = db.logistics_company_id
      where order_id = #{orderId}
    </select>
    <select id="findDispatchList" resultType="java.util.Map">
        select
            db.id dispatchBillId,db.no,db.actual_date,db.notes,u.name delivererName,lc.name as logisticsName
        from dispatch_bill db
        left join logistics_company lc on lc.id = db.logistics_company_id
        left join user u on db.deliverer=u.id
        where db.order_id = #{resultOrderId}
    </select>
    <select id="findNumByCreated" resultType="java.lang.Integer">
        select count(id) from dispatch_bill
        <where><trim prefixOverrides="and">
            <if test="beginTime!=null">
                and actual_date &gt;= #{beginTime}
            </if>
            <if test="endTime!=null">
                and (actual_date &lt;= #{endTime} or actual_date like '%${endTime}%')
            </if>
            <if test="created!=null">
                and actual_date like '%${created}%'
            </if>
        </trim></where>
    </select>
</mapper>
