<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwxf.industry4.webapp.domain.dao.system.SysLogDao">
    <resultMap id="SysLogMap" type="com.lwxf.industry4.webapp.domain.entity.system.SysLog">
        <id column="id" property="id" jdbcType="CHAR" />
        <result column="operator_name" property="operatorName" jdbcType="VARCHAR" />
        <result column="operator_id" property="operatorId" jdbcType="VARCHAR" />
        <result column="operation" property="operation" jdbcType="VARCHAR" />
        <result column="operation_type" property="operationType" jdbcType="VARCHAR" />
        <result column="method" property="method" jdbcType="VARCHAR" />
        <result column="params" property="params" jdbcType="VARCHAR" />
        <result column="description" property="description" jdbcType="VARCHAR" />
        <result column="moudule_name" property="mouduleName" jdbcType="VARCHAR" />
        <result column="moudule_code" property="mouduleCode" jdbcType="VARCHAR" />
        <result column="class_name" property="className" jdbcType="VARCHAR" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="branch_id" property="branchId" jdbcType="CHAR" />
    </resultMap>
    <sql id="columns">
id, operator_name, operator_id,operation,operation_type, method, params, description, created, branch_id,moudule_name,moudule_code,class_name
</sql>

    <select id="selectById" resultMap="SysLogMap" parameterType="String">
SELECT <include refid="columns" />
FROM   sys_log
WHERE  id = #{id}
</select>

    <select id="selectByFilter" resultMap="SysLogMap">
SELECT <include refid="columns" />
FROM   sys_log
<where><trim prefixOverrides="AND">
<if test="id != null">
    id = #{id}
</if>
<if test="operatorName != null">
    AND operator_name = #{operatorName}
</if>
    <if test="operatorId != null">
        AND operator_id = #{operatorId}
    </if>
<if test="operation != null">
    AND operation = #{operation}
</if>
    <if test="operationType != null">
    AND operation_type = #{operationType}
</if>
<if test="method != null">
    AND method = #{method}
</if>
<if test="params != null">
    AND params = #{params}
</if>
<if test="description != null">
    AND description = #{description}
</if>
    <if test="mouduleName != null">
        AND moudule_name = #{mouduleName}
    </if>
        <if test="mouduleCode != null">
        AND moudule_code = #{mouduleCode}
    </if>
    <if test="className != null">
        AND class_name = #{className}
    </if>
<if test="created != null">
    AND created = #{created}
</if>
<if test="branchId != null">
    AND branch_id = #{branchId}
</if>
</trim></where>
order by created desc
</select>

    <insert id="insert" useGeneratedKeys="false">
INSERT INTO 
sys_log(id, operator_name,operator_id, operation,operation_type, method, params, description, created, branch_id,moudule_name,moudule_code,class_name)
 VALUES(#{id}, #{operatorName},#{operatorId},  #{operation},#{operationType}, #{method}, #{params}, #{description}, #{created}, #{branchId},#{mouduleName},#{mouduleCode},#{className})
</insert>

    <update id="updateByMapContext">
UPDATE sys_log
<set><trim suffixOverrides=",">
<if test="_parameter.containsKey('operatorName')">
    operator_name = #{operatorName},
</if>
    <if test="_parameter.containsKey('operatorId')">
        operator_id = #{operatorId},
    </if>
    <if test="_parameter.containsKey('operation')">
    operation = #{operation},
</if>
    <if test="_parameter.containsKey('operationType')">
        operation_type = #{operationType},
</if>
    <if test="_parameter.containsKey('method')">
    method = #{method},
</if>
    <if test="_parameter.containsKey('params')">
    params = #{params},
</if>
    <if test="_parameter.containsKey('description')">
        description = #{description},
</if>
    <if test="_parameter.containsKey('created')">
    created = #{created},
</if>
    <if test="_parameter.containsKey('branchId')">
    branch_id = #{branchId}
</if>
</trim></set>
WHERE  id = #{id}
</update>

    <delete id="deleteById" parameterType="String">
DELETE FROM   sys_log
WHERE  id = #{id}
</delete>

</mapper>
