<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwxf.industry4.webapp.domain.dao.reservation.ReservationDesignFileDao">
    <resultMap id="ReservationDesignFileMap" type="com.lwxf.industry4.webapp.domain.entity.reservation.ReservationDesignFile">
        <id column="id" property="id" jdbcType="CHAR" />
        <result column="upload_files_id" property="uploadFilesId" jdbcType="CHAR" />
        <result column="path" property="path" jdbcType="VARCHAR" />
        <result column="mime" property="mime" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="design_record_id" property="designRecordId" jdbcType="CHAR" />
    </resultMap>
    <sql id="columns">
id, upload_files_id, path, mime, name, design_record_id
</sql>

    <select id="selectById" resultMap="ReservationDesignFileMap" parameterType="String">
SELECT <include refid="columns" />
FROM   reservation_design_file
WHERE  id = #{id}
</select>

    <select id="selectByFilter" resultMap="ReservationDesignFileMap">
SELECT <include refid="columns" />
FROM   reservation_design_file
<where><trim prefixOverrides="AND">
<if test="id != null">
    id = #{id}
</if>
<if test="uploadFilesId != null">
    AND upload_files_id = #{uploadFilesId}
</if>
<if test="path != null">
    AND path = #{path}
</if>
<if test="mime != null">
    AND mime = #{mime}
</if>
<if test="name != null">
    AND name = #{name}
</if>
<if test="designRecordId != null">
    AND design_record_id = #{designRecordId}
</if>
</trim></where>

</select>

    <insert id="insert" useGeneratedKeys="false">
INSERT INTO 
reservation_design_file(id, upload_files_id, path, mime, name, design_record_id)
                 VALUES(#{id}, #{uploadFilesId}, #{path}, #{mime}, #{name}, #{designRecordId})
</insert>

    <update id="updateByMapContext">
UPDATE reservation_design_file
<set><trim suffixOverrides=",">
<if test="_parameter.containsKey('uploadFilesId') and uploadFilesId != null">
    upload_files_id = #{uploadFilesId},
</if>
    <if test="_parameter.containsKey('path') and path != null">
    path = #{path},
</if>
    <if test="_parameter.containsKey('mime') and mime != null">
    mime = #{mime},
</if>
    <if test="_parameter.containsKey('name')">
    name = #{name},
</if>
    <if test="_parameter.containsKey('designRecordId') and designRecordId != null">
    design_record_id = #{designRecordId}
</if>
</trim></set>
WHERE  id = #{id}
</update>

    <delete id="deleteById" parameterType="String">
DELETE FROM   reservation_design_file
WHERE  id = #{id}
</delete>


    <delete id="deleteByDesRecordId" parameterType="String">
DELETE FROM   reservation_design_file
WHERE  design_record_id = #{designRecordId}
</delete>

    <select id="selectByResDesRecId" resultMap="ReservationDesignFileMap">
        select
        <include refid="columns"/>
        from reservation_design_file
        where design_record_id = #{designRecordId}

    </select>

</mapper>
