<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwxf.industry4.webapp.domain.dao.company.EmployeeInfoDao">
    <resultMap id="EmployeeInfoMap" type="com.lwxf.industry4.webapp.domain.entity.company.EmployeeInfo">
        <id column="id" property="id" jdbcType="CHAR" />
        <result column="company_employee_id" property="companyEmployeeId" jdbcType="CHAR" />
        <result column="no" property="no" jdbcType="VARCHAR" />
        <result column="emergency_contact_name" property="emergencyContactName" jdbcType="VARCHAR" />
        <result column="emergency_contact_tel" property="emergencyContactTel" jdbcType="VARCHAR" />
        <result column="is_marry" property="marry" jdbcType="BIT" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="physical_condition" property="physicalCondition" jdbcType="VARCHAR" />
        <result column="is_receive_work_clothes" property="receiveWorkClothes" jdbcType="BIT" />
        <result column="is_pay_social_security" property="paySocialSecurity" jdbcType="BIT" />
        <result column="is_accommodation" property="accommodation" jdbcType="BIT" />
        <result column="is_drive" property="drive" jdbcType="BIT" />
        <result column="license_plate_num" property="licensePlateNum" jdbcType="VARCHAR" />
        <result column="source" property="source" jdbcType="TINYINT" />
        <result column="rank" property="rank" jdbcType="TINYINT" />
        <result column="leadership_comments" property="leadershipComments" jdbcType="VARCHAR" />
        <result column="user_id" property="userId" jdbcType="CHAR" />
        <result column="university_graduated" property="universityGraduated" jdbcType="VARCHAR" />
        <result column="graduation_time" property="graduationTime" jdbcType="DATE" />
        <result column="entry_time" property="entryTime" jdbcType="DATE" />
        <result column="correction_time" property="correctionTime" jdbcType="DATE" />
        <result column="departure_time" property="departureTime" jdbcType="DATE" />
        <result column="wage_information" property="wageInformation" jdbcType="VARCHAR" />
        <result column="self_evaluation" property="selfEvaluation" jdbcType="VARCHAR" />
        <result column="supervisor_evaluation" property="supervisorEvaluation" jdbcType="VARCHAR" />
        <result column="personnel_evaluation" property="personnelEvaluation" jdbcType="VARCHAR" />
        <result column="exceptional_case" property="exceptionalCase" jdbcType="VARCHAR" />
        <result column="receive_work_clothes_time" property="receiveWorkClothesTime" jdbcType="DATE" />
        <result column="photo" property="photo" jdbcType="VARCHAR" />
        <result column="wage_card_number" property="wageCardNumber" jdbcType="VARCHAR" />
        <result column="bank_name" property="bankName" jdbcType="VARCHAR" />
        <result column="wages" property="wages" jdbcType="DECIMAL" />
    </resultMap>
    <sql id="columns">
id, company_employee_id, no, emergency_contact_name, emergency_contact_tel, is_marry, status, physical_condition, is_receive_work_clothes, is_pay_social_security, is_accommodation, is_drive, license_plate_num, source, rank, leadership_comments, user_id, university_graduated, graduation_time, entry_time, correction_time, departure_time, wage_information, self_evaluation, supervisor_evaluation, personnel_evaluation, exceptional_case, receive_work_clothes_time, photo, wage_card_number, bank_name, wages
</sql>

    <select id="selectById" resultMap="EmployeeInfoMap" parameterType="String">
SELECT <include refid="columns" />
FROM   employee_info
WHERE  id = #{id}
</select>

    <select id="selectByFilter" resultMap="EmployeeInfoMap">
SELECT <include refid="columns" />
FROM   employee_info
<where><trim prefixOverrides="AND">
<if test="id != null">
    id = #{id}
</if>
<if test="companyEmployeeId != null">
    AND company_employee_id = #{companyEmployeeId}
</if>
<if test="no != null">
    AND no = #{no}
</if>
<if test="emergencyContactName != null">
    AND emergency_contact_name = #{emergencyContactName}
</if>
<if test="emergencyContactTel != null">
    AND emergency_contact_tel = #{emergencyContactTel}
</if>
<if test="marry != null">
    AND is_marry = #{marry}
</if>
<if test="status != null">
    AND status = #{status}
</if>
<if test="physicalCondition != null">
    AND physical_condition = #{physicalCondition}
</if>
<if test="receiveWorkClothes != null">
    AND is_receive_work_clothes = #{receiveWorkClothes}
</if>
<if test="paySocialSecurity != null">
    AND is_pay_social_security = #{paySocialSecurity}
</if>
<if test="accommodation != null">
    AND is_accommodation = #{accommodation}
</if>
<if test="drive != null">
    AND is_drive = #{drive}
</if>
<if test="licensePlateNum != null">
    AND license_plate_num = #{licensePlateNum}
</if>
<if test="source != null">
    AND source = #{source}
</if>
<if test="rank != null">
    AND rank = #{rank}
</if>
<if test="leadershipComments != null">
    AND leadership_comments = #{leadershipComments}
</if>
<if test="userId != null">
    AND user_id = #{userId}
</if>
<if test="universityGraduated != null">
    AND university_graduated = #{universityGraduated}
</if>
<if test="graduationTime != null">
    AND graduation_time = #{graduationTime}
</if>
<if test="entryTime != null">
    AND entry_time = #{entryTime}
</if>
<if test="correctionTime != null">
    AND correction_time = #{correctionTime}
</if>
<if test="departureTime != null">
    AND departure_time = #{departureTime}
</if>
<if test="wageInformation != null">
    AND wage_information = #{wageInformation}
</if>
<if test="selfEvaluation != null">
    AND self_evaluation = #{selfEvaluation}
</if>
<if test="supervisorEvaluation != null">
    AND supervisor_evaluation = #{supervisorEvaluation}
</if>
<if test="personnelEvaluation != null">
    AND personnel_evaluation = #{personnelEvaluation}
</if>
<if test="exceptionalCase != null">
    AND exceptional_case = #{exceptionalCase}
</if>
<if test="receiveWorkClothesTime != null">
    AND receive_work_clothes_time = #{receiveWorkClothesTime}
</if>
<if test="photo != null">
    AND photo = #{photo}
</if>
<if test="wageCardNumber != null">
    AND wage_card_number = #{wageCardNumber}
</if>
<if test="bankName != null">
    AND bank_name = #{bankName}
</if>
    <if test="wages != null">
        AND wages = #{wages}
    </if>
</trim></where>

</select>

    <insert id="insert" useGeneratedKeys="false">
INSERT INTO 
employee_info(id, company_employee_id, no, emergency_contact_name, emergency_contact_tel, is_marry, status, physical_condition, is_receive_work_clothes, is_pay_social_security, is_accommodation, is_drive, license_plate_num, source, rank, leadership_comments, user_id, university_graduated, graduation_time, entry_time, correction_time, departure_time, wage_information, self_evaluation, supervisor_evaluation, personnel_evaluation, exceptional_case, receive_work_clothes_time, photo, wage_card_number, bank_name, wages)
       VALUES(#{id}, #{companyEmployeeId}, #{no}, #{emergencyContactName}, #{emergencyContactTel}, #{marry}, #{status}, #{physicalCondition}, #{receiveWorkClothes}, #{paySocialSecurity}, #{accommodation}, #{drive}, #{licensePlateNum}, #{source}, #{rank}, #{leadershipComments}, #{userId}, #{universityGraduated}, #{graduationTime}, #{entryTime}, #{correctionTime}, #{departureTime}, #{wageInformation}, #{selfEvaluation}, #{supervisorEvaluation}, #{personnelEvaluation}, #{exceptionalCase}, #{receiveWorkClothesTime}, #{photo}, #{wageCardNumber}, #{bankName}, #{wages})
</insert>

    <update id="updateByMapContext">
UPDATE employee_info
<set><trim suffixOverrides=",">
<if test="_parameter.containsKey('no')">
    no = #{no},
</if>
    <if test="_parameter.containsKey('emergencyContactName')">
    emergency_contact_name = #{emergencyContactName},
</if>
    <if test="_parameter.containsKey('emergencyContactTel')">
    emergency_contact_tel = #{emergencyContactTel},
</if>
    <if test="_parameter.containsKey('marry')">
    is_marry = ${marry},
</if>
    <if test="_parameter.containsKey('status')">
    status = #{status},
</if>
    <if test="_parameter.containsKey('physicalCondition')">
    physical_condition = #{physicalCondition},
</if>
    <if test="_parameter.containsKey('receiveWorkClothes')">
    is_receive_work_clothes = ${receiveWorkClothes},
</if>
    <if test="_parameter.containsKey('paySocialSecurity')">
    is_pay_social_security = ${paySocialSecurity},
</if>
    <if test="_parameter.containsKey('accommodation')">
    is_accommodation = ${accommodation},
</if>
    <if test="_parameter.containsKey('drive')">
    is_drive = ${drive},
</if>
    <if test="_parameter.containsKey('licensePlateNum')">
    license_plate_num = #{licensePlateNum},
</if>
    <if test="_parameter.containsKey('source')">
    source = #{source},
</if>
    <if test="_parameter.containsKey('rank')">
    rank = #{rank},
</if>
    <if test="_parameter.containsKey('leadershipComments')">
    leadership_comments = #{leadershipComments},
</if>
    <if test="_parameter.containsKey('userId') and userId != null">
    user_id = #{userId},
</if>
    <if test="_parameter.containsKey('universityGraduated')">
    university_graduated = #{universityGraduated},
</if>
    <if test="_parameter.containsKey('graduationTime')">
    graduation_time = #{graduationTime},
</if>
    <if test="_parameter.containsKey('entryTime')">
    entry_time = #{entryTime},
</if>
    <if test="_parameter.containsKey('correctionTime')">
    correction_time = #{correctionTime},
</if>
    <if test="_parameter.containsKey('departureTime')">
    departure_time = #{departureTime},
</if>
    <if test="_parameter.containsKey('wageInformation')">
    wage_information = #{wageInformation},
</if>
    <if test="_parameter.containsKey('selfEvaluation')">
    self_evaluation = #{selfEvaluation},
</if>
    <if test="_parameter.containsKey('supervisorEvaluation')">
    supervisor_evaluation = #{supervisorEvaluation},
</if>
    <if test="_parameter.containsKey('personnelEvaluation')">
    personnel_evaluation = #{personnelEvaluation},
</if>
    <if test="_parameter.containsKey('exceptionalCase')">
    exceptional_case = #{exceptionalCase},
</if>
    <if test="_parameter.containsKey('receiveWorkClothesTime')">
    receive_work_clothes_time = #{receiveWorkClothesTime},
</if>
    <if test="_parameter.containsKey('photo')">
    photo = #{photo},
</if>
    <if test="_parameter.containsKey('wageCardNumber')">
    wage_card_number = #{wageCardNumber},
</if>
    <if test="_parameter.containsKey('bankName')">
    bank_name = #{bankName}
</if>
    <if test="_parameter.containsKey('wages')">
        wages = #{wages}
    </if>
</trim></set>
WHERE  id = #{id}
</update>

    <delete id="deleteById" parameterType="String">
DELETE FROM   employee_info
WHERE  id = #{id}
</delete>

    <select id="findOneByEid" resultMap="EmployeeInfoMap">
        select <include refid="columns"/> from employee_info where company_employee_id = #{eid}
    </select>
    
</mapper>
