<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lwxf.industry4.webapp.domain.dao.financing.PaymentDao">
    <resultMap id="PaymentMap" type="com.lwxf.industry4.webapp.domain.entity.financing.Payment">
        <id column="id" property="id" jdbcType="CHAR" />
        <result column="type" property="type" jdbcType="TINYINT" />
        <result column="way" property="way" jdbcType="TINYINT" />
        <result column="bank" property="bank" jdbcType="CHAR" />
        <result column="funds" property="funds" jdbcType="TINYINT" />
        <result column="notes" property="notes" jdbcType="VARCHAR" />
        <result column="creator" property="creator" jdbcType="CHAR" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="custom_order_id" property="customOrderId" jdbcType="CHAR" />
        <result column="auditor" property="auditor" jdbcType="CHAR" />
        <result column="audited" property="audited" jdbcType="TIMESTAMP" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="pay_amount" property="payAmount" jdbcType="DECIMAL" />
        <result column="payee" property="payee" jdbcType="CHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="company_id" property="companyId" jdbcType="CHAR" />
        <result column="holder" property="holder" jdbcType="VARCHAR" />
        <result column="holder_account" property="holderAccount" jdbcType="VARCHAR" />
        <result column="deposit_bank" property="depositBank" jdbcType="VARCHAR" />
        <result column="no" property="no" jdbcType="VARCHAR" />
        <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
        <result column="branch_id" property="branchId" jdbcType="CHAR" />
        <result column="resource_type" property="resourceType" jdbcType="TINYINT" />
    </resultMap>

    <resultMap id="PaymentMapDto" type="com.lwxf.industry4.webapp.domain.dto.financing.PaymentDto">
        <id column="id" property="id" jdbcType="CHAR" />
        <result column="type" property="type" jdbcType="TINYINT" />
        <result column="way" property="way" jdbcType="TINYINT" />
        <result column="funds" property="funds" jdbcType="TINYINT" />
        <result column="notes" property="notes" jdbcType="VARCHAR" />
        <result column="creator" property="creator" jdbcType="CHAR" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="custom_order_id" property="customOrderId" jdbcType="CHAR" />
        <result column="auditor" property="auditor" jdbcType="CHAR" />
        <result column="audited" property="audited" jdbcType="TIMESTAMP" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="pay_amount" property="payAmount" jdbcType="DECIMAL" />
        <result column="payee" property="payee" jdbcType="CHAR" />
        <result column="payeeName" property="payeeName" jdbcType="VARCHAR" />
        <result column="auditorName" property="auditorName" jdbcType="VARCHAR" />
        <result column="holder" property="holder" jdbcType="VARCHAR" />
        <result column="holder_account" property="holderAccount" jdbcType="VARCHAR" />
        <result column="deposit_bank" property="depositBank" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="company_id" property="companyId" jdbcType="CHAR" />
        <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
        <result column="dalType" property="dalType" jdbcType="TIMESTAMP" />
        <result column="no" property="no" jdbcType="VARCHAR" />
        <result column="resource_type" property="resourceType" jdbcType="TINYINT" />
        <result column="creatorName" property="creatorName"/>
        <result column="TransferTime" property="transferTime"/>
    </resultMap>

    <resultMap id="PaymentMapDtoT" type="com.lwxf.industry4.webapp.domain.dto.financing.PaymentDto">
        <id column="id" property="id" jdbcType="CHAR" />
        <result column="type" property="type" jdbcType="TINYINT" />
        <result column="way" property="way" jdbcType="TINYINT" />
        <result column="funds" property="funds" jdbcType="TINYINT" />
        <result column="notes" property="notes" jdbcType="VARCHAR" />
        <result column="creator" property="creator" jdbcType="CHAR" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="custom_order_id" property="customOrderId" jdbcType="CHAR" />
        <result column="auditor" property="auditor" jdbcType="CHAR" />
        <result column="audited" property="audited" jdbcType="TIMESTAMP" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="pay_amount" property="payAmount" jdbcType="DECIMAL" />
        <result column="payee" property="payee" jdbcType="CHAR" />
        <result column="payeeName" property="payeeName" jdbcType="VARCHAR" />
        <result column="auditorName" property="auditorName" jdbcType="VARCHAR" />
        <result column="holder" property="holder" jdbcType="VARCHAR" />
        <result column="holder_account" property="holderAccount" jdbcType="VARCHAR" />
        <result column="deposit_bank" property="depositBank" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="company_id" property="companyId" jdbcType="CHAR" />
        <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
        <result column="dalType" property="dalType" jdbcType="TIMESTAMP" />
        <result column="resource_type" property="resourceType" jdbcType="TINYINT" />
        <result column="no" property="no" jdbcType="VARCHAR" />
        <result column="creatorName" property="creatorName"/>
        <result column="TransferTime" property="transferTime"/>
        <result column="orderNo" property="orderNo"/>
        <result column="companyName" property="companyName"/>
        <result column="customName" property="customName"/>
        <result column="orderType" property="orderType"/>
        <result column="fundsName" property="fundsName"/>
    </resultMap>

    <resultMap id="PaymentDtoForApp" type="com.lwxf.industry4.webapp.domain.dto.financing.PaymentDtoForApp">
    <id column="id" property="id" jdbcType="CHAR" />
        <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
        <result column="funds" property="funds" jdbcType="TINYINT" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
    </resultMap>

    <resultMap id="VerifyPaymentDto" type="com.lwxf.industry4.webapp.domain.dto.financing.dtoForApp.VerifyPaymentDto">
        <id column="id" property="id" jdbcType="CHAR" />
        <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
        <result column="order_id" property="orderId" jdbcType="VARCHAR" />
        <result column="type_name" property="typeName" jdbcType="VARCHAR" />
        <result column="company_name" property="companyName" jdbcType="VARCHAR" />
        <result column="creator_name" property="creatorName" jdbcType="VARCHAR" />
        <result column="funds" property="funds" jdbcType="TINYINT" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
    </resultMap>

    <resultMap id="FinanceCountDto" type="com.lwxf.industry4.webapp.domain.dto.financing.dtoForApp.FinanceCountDto">
        <result column="order_handle_today" property="orderHandleToday" jdbcType="INTEGER" />
        <result column="order_handle_monthly" property="orderHandleMonthly" jdbcType="INTEGER" />
        <result column="chargebacks_today" property="chargebacksToday" jdbcType="DECIMAL" />
        <result column="chargebacks_monthly" property="chargebacksMonthly" jdbcType="DECIMAL" />
    </resultMap>
    <resultMap id="VerifyDesignPriceDto" type="com.lwxf.industry4.webapp.domain.dto.financing.dtoForApp.VerifyDesignPriceDto">
        <id column="id" property="id" jdbcType="CHAR" />
        <result column="order_id" property="orderId" jdbcType="CHAR" />
        <result column="company_name" property="companyName" jdbcType="VARCHAR" />
        <result column="company_id" property="companyId" jdbcType="CHAR" />
        <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
        <result column="order_type" property="orderType" jdbcType="VARCHAR" />
        <result column="order_created" property="orderCreated" jdbcType="TIMESTAMP" />
        <result column="estimated_delivery_date" property="estimatedDeliveryDate" jdbcType="TIMESTAMP" />
        <result column="order_creator" property="orderCreator" jdbcType="VARCHAR" />
        <result column="designer" property="designer" jdbcType="VARCHAR" />
        <result column="factory_final_price" property="factoryFinalPrice" jdbcType="DECIMAL" />
        <result column="company_balance" property="companyBalance" jdbcType="DECIMAL" />
    </resultMap>
    <resultMap id="VerifyOrderPriceDto" type="com.lwxf.industry4.webapp.domain.dto.financing.dtoForApp.VerifyOrderPriceDto">
        <id column="id" property="id" jdbcType="CHAR" />
        <result column="order_id" property="orderId" jdbcType="CHAR" />
        <result column="company_name" property="companyName" jdbcType="VARCHAR" />
        <result column="company_id" property="companyId" jdbcType="CHAR" />
        <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
        <result column="order_type" property="orderType" jdbcType="VARCHAR" />
        <result column="order_created" property="orderCreated" jdbcType="TIMESTAMP" />
        <result column="estimated_delivery_date" property="estimatedDeliveryDate" jdbcType="TIMESTAMP" />
        <result column="order_creator" property="orderCreator" jdbcType="VARCHAR" />
        <result column="factory_final_price" property="factoryFinalPrice" jdbcType="DECIMAL" />
        <result column="company_balance" property="companyBalance" jdbcType="DECIMAL" />
    </resultMap>
    <resultMap id="VerifyOutsourcePriceDto" type="com.lwxf.industry4.webapp.domain.dto.financing.dtoForApp.VerifyOutsourcePriceDto">
        <id column="id" property="id" jdbcType="CHAR" />
        <result column="order_id" property="orderId" jdbcType="CHAR" />
        <result column="company_name" property="companyName" jdbcType="VARCHAR" />
        <result column="company_id" property="companyId" jdbcType="CHAR" />
        <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
        <result column="order_type" property="orderType" jdbcType="VARCHAR" />
        <result column="order_created" property="orderCreated" jdbcType="TIMESTAMP" />
        <result column="order_creator" property="orderCreator" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="coordination_name" property="coordinationName" jdbcType="VARCHAR" />
        <result column="out_source_amount" property="out_sourceAmount" jdbcType="DECIMAL" />
        <result column="coordination_account" property="coordinationAccount" jdbcType="VARCHAR" />
        <result column="coordination_bank" property="coordinationBank" jdbcType="VARCHAR" />
        <result column="note" property="note" jdbcType="VARCHAR" />
    </resultMap>
    <!--财务 经销商列表页 -->
    <resultMap id="CompanyFinanceListDto" type="com.lwxf.industry4.webapp.domain.dto.financing.dtoForApp.CompanyFinanceListDto">
        <id column="payment_id" property="paymentId" jdbcType="CHAR" />
        <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
        <result column="funds" property="funds" jdbcType="TINYINT" />
        <result column="type" property="type" jdbcType="TINYINT" />
        <result column="way" property="way" jdbcType="TINYINT" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="creator" property="creator" jdbcType="VARCHAR" />
        <result column="holder" property="holder" jdbcType="VARCHAR" />
        <result column="holder_name" property="holderName" jdbcType="VARCHAR" />
        <result column="notes" property="notes" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    </resultMap>
    <!--财务 经销商详情页 -->
    <resultMap id="CompanyFinanceInfoDto" type="com.lwxf.industry4.webapp.domain.dto.financing.dtoForApp.CompanyFinanceInfoDto">
        <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
        <result column="funds" property="funds" jdbcType="TINYINT" />
        <result column="way" property="way" jdbcType="TINYINT" />
        <result column="type" property="type" jdbcType="TINYINT" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="company_name" property="companyName" jdbcType="VARCHAR" />
        <result column="notes" property="notes" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="holder" property="holder" jdbcType="CHAR" />
        <result column="holder_name" property="holderName" jdbcType="VARCHAR" />
    </resultMap>
    <resultMap id="StatementIncomeAndOutcomeDto" type="com.lwxf.industry4.webapp.domain.dto.financing.dtoForApp.StatementIncomeAndOutcomeDto">
        <result column="income" property="income" jdbcType="DECIMAL" />
        <result column="outcome" property="outcome" jdbcType="DECIMAL" />
        <result column="day" property="day" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="paymentPrintDto" type="com.lwxf.industry4.webapp.domain.dto.printTable.PaymentPrintTableDto">
        <id column="id" property="id" jdbcType="CHAR" />
        <result column="type" property="type" jdbcType="TINYINT" />
        <result column="way" property="way" jdbcType="TINYINT" />
        <result column="funds" property="funds" jdbcType="TINYINT" />
        <result column="notes" property="notes" jdbcType="VARCHAR" />
        <result column="creator" property="creator" jdbcType="CHAR" />
        <result column="created" property="created" jdbcType="TIMESTAMP" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="custom_order_id" property="customOrderId" jdbcType="CHAR" />
        <result column="auditor" property="auditor" jdbcType="CHAR" />
        <result column="audited" property="audited" jdbcType="TIMESTAMP" />
        <result column="amount" property="amount" jdbcType="DECIMAL" />
        <result column="payee" property="payee" jdbcType="CHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="company_id" property="companyId" jdbcType="CHAR" />
        <result column="holder" property="holder" jdbcType="VARCHAR" />
        <result column="holder_account" property="holderAccount" jdbcType="VARCHAR" />
        <result column="deposit_bank" property="depositBank" jdbcType="VARCHAR" />
        <result column="no" property="no" jdbcType="VARCHAR" />
        <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
        <result column="branch_id" property="branchId" jdbcType="CHAR" />
        <result column="resource_type" property="resourceType" jdbcType="TINYINT" />
        <result column="pay_amount" property="payAmount" jdbcType="DECIMAL" />
        <result column="typeName" property="typeName"/>
        <result column="creatorName" property="creatorName"/>
        <result column="auditorName" property="auditorName"/>
        <result column="orderNo" property="orderNo"/>
    </resultMap>

    <sql id="columns">
id, no,type, way, funds, notes, creator, created, status, custom_order_id, auditor, audited, amount,pay_amount, payee, name, company_id, holder, holder_account, deposit_bank,pay_time,bank,resource_type,branch_id
</sql>
    <sql id="columnDtos">
p.id, p.no,p.type, p.way, p.funds, p.notes, p.creator, p.created, p.status, p.custom_order_id, p.auditor, p.audited, p.amount,p.pay_amount, p.payee, p.name, p.company_id, p.holder, p.holder_account, p.deposit_bank,p.pay_time,p.creatorName,p.branch_id,u.name auditorName,p.bank,p.resource_type
</sql>

    <select id="selectById" resultMap="PaymentMap" parameterType="String">
SELECT <include refid="columns" />
FROM   payment
WHERE  id = #{id}
</select>

    <select id="selectByFilter" resultMap="PaymentMapDto">
        select <include refid="columnDtos" />
        from
        (SELECT p.*,u.name creatorName
        FROM payment p left join user u on p.creator = u.id
        <where><trim prefixOverrides="AND">
            <if test="id != null">
                p.id = #{id}
            </if>
            <if test="no != null">
                AND p.no like CONCAT('%',#{no},'%')
            </if>
            <if test="type != null">
                AND p.type in
                <foreach collection="type" item="ty" open="(" close=")" separator=",">
                    #{ty}
                </foreach>
            </if>
            <if test="way != null">
                AND p.way = #{way}
            </if>
            <if test="funds != null">
                AND p.funds = #{funds}
            </if>
            <if test="notes != null">
                AND p.notes = #{notes}
            </if>
            <if test="creator != null">
                AND p.creator = #{creator}
            </if>
            <if test="created != null">
                AND p.created = #{created}
            </if>
            <if test="status != null">
                AND p.status = #{status}
            </if>
            <if test="customOrderId != null">
                AND p.custom_order_id = #{customOrderId}
            </if>
            <if test="auditor != null">
                AND p.auditor = #{auditor}
            </if>
            <if test="audited != null">
                AND p.audited = #{audited}
            </if>
            <if test="amount != null">
                AND p.amount = #{amount}
            </if>
            <if test="payee != null">
                AND p.payee = #{payee}
            </if>
            <if test="name != null">
                AND p.name = #{name}
            </if>
            <if test="companyId != null">
                AND p.company_id = #{companyId}
            </if>
            <if test="holder != null">
                AND p.holder = #{holder}
            </if>
            <if test="bank != null">
                AND p.bank = #{bank}
            </if>
            <if test="holderAccount != null">
                AND p.holder_account = #{holderAccount}
            </if>
            <if test="depositBank != null">
                AND p.deposit_bank = #{depositBank}
            </if>
            <if test="resourceType != null">
                AND p.resource_type = #{resourceType}
            </if>
            <if test="beginTime!=null and beginTime!=''">
                <![CDATA[   and DATE_FORMAT(p.created, '%Y-%m-%d')>=  DATE_FORMAT(#{beginTime}, '%Y-%m-%d')   ]]>
            </if>
            <if test="endTime!=null and endTime!=''">
                <![CDATA[  and DATE_FORMAT(p.created, '%Y-%m-%d') <= DATE_FORMAT(#{endTime}, '%Y-%m-%d')    ]]>
            </if>
        </trim></where>
        ) p left join user u on p.auditor = u.id

    </select>

    <insert id="insert" useGeneratedKeys="false">
INSERT INTO
payment(id, type,no, way, funds, notes, creator, created, status, custom_order_id, auditor, audited, amount, payee,pay_amount, name, company_id, holder, holder_account, deposit_bank,pay_time,branch_id,bank,resource_type)
 VALUES(#{id}, #{type},#{no}, #{way}, #{funds}, #{notes}, #{creator}, #{created}, #{status}, #{customOrderId}, #{auditor}, #{audited}, #{amount},#{payee}, #{payAmount}, #{name}, #{companyId}, #{holder}, #{holderAccount}, #{depositBank},#{payTime},#{branchId},#{bank},#{resourceType})
</insert>

    <update id="updateByMapContext">
        UPDATE payment
        <set><trim suffixOverrides=",">
            <if test="_parameter.containsKey('type') and type != null">
                type = #{type},
            </if>
            <if test="_parameter.containsKey('no') and no != null">
            no = #{no},
        </if>
            <if test="_parameter.containsKey('way') and way != null">
                way = #{way},
            </if>
            <if test="_parameter.containsKey('funds') and funds != null">
                funds = #{funds},
            </if>
            <if test="_parameter.containsKey('notes')">
                notes = #{notes},
            </if>
            <if test="_parameter.containsKey('bank')">
                bank = #{bank},
            </if>
            <if test="_parameter.containsKey('creator') and creator != null">
                creator = #{creator},
            </if>
            <if test="_parameter.containsKey('created') and created != null">
                created = #{created},
            </if>
            <if test="_parameter.containsKey('status') and status != null">
                status = #{status},
            </if>
            <if test="_parameter.containsKey('customOrderId')">
                custom_order_id = #{customOrderId},
            </if>
            <if test="_parameter.containsKey('auditor')">
                auditor = #{auditor},
            </if>
            <if test="_parameter.containsKey('audited')">
                audited = #{audited},
            </if>
            <if test="_parameter.containsKey('amount') and amount != null">
                amount = #{amount},
            </if>
            <if test="_parameter.containsKey('payAmount') and payAmount != null">
                pay_amount = #{payAmount},
            </if>
            <if test="_parameter.containsKey('payee') and payee != null">
                payee = #{payee},
            </if>
            <if test="_parameter.containsKey('name')">
                name = #{name},
            </if>
            <if test="_parameter.containsKey('companyId') and companyId != null">
                company_id = #{companyId},
            </if>
            <if test="_parameter.containsKey('holder') and holder != null">
                holder = #{holder},
            </if>
            <if test="_parameter.containsKey('holderAccount')">
                holder_account = #{holderAccount},
            </if>
            <if test="_parameter.containsKey('depositBank')">
                deposit_bank = #{depositBank},
            </if>
            <if test="_parameter.containsKey('payTime')">
                pay_time = #{payTime}
            </if>
        </trim></set>
        WHERE  id = #{id}
    </update>

    <delete id="deleteById" parameterType="String">
DELETE FROM   payment
WHERE  id = #{id}
</delete>

    <select id="findByOrderId" resultMap="PaymentMapDto">
        select
        p.holder as payeeName, p.pay_time, p.amount,p.status,p.name,p.id
        from payment p
        where
        p.custom_order_id = #{orderId}
        and p.type = 0
        order by p.created desc
    </select>

    <select id="findByPaymentId" resultMap="PaymentMapDto">
        select
        p.id,p.pay_time,p.way,p.holder as payeeName,p.notes,p.type,p.funds,p.bank,
        p.amount,p.name,us.name as auditorName,p.audited,p.status
        from payment p
        left join user us on us.id = p.auditor
        where p.id = #{paymentId}
    </select>
    <update id="updateStatusByOrderIdAndFund">
        UPDATE payment
        <set><trim suffixOverrides=",">
            <if test="_parameter.containsKey('type') and type != null">
                type = #{type},
            </if>
            <if test="_parameter.containsKey('no') and no != null">
                no = #{no},
            </if>
            <if test="_parameter.containsKey('way') and way != null">
                way = #{way},
            </if>
            <if test="_parameter.containsKey('funds') and funds != null">
                funds = #{funds},
            </if>
            <if test="_parameter.containsKey('notes')">
                notes = #{notes},
            </if>
            <if test="_parameter.containsKey('creator') and creator != null">
                creator = #{creator},
            </if>
            <if test="_parameter.containsKey('created') and created != null">
                created = #{created},
            </if>
            <if test="_parameter.containsKey('status') and status != null">
                status = #{status},
            </if>
            <if test="_parameter.containsKey('customOrderId')">
                custom_order_id = #{customOrderId},
            </if>
            <if test="_parameter.containsKey('auditor')">
                auditor = #{auditor},
            </if>
            <if test="_parameter.containsKey('audited')">
                audited = #{audited},
            </if>
            <if test="_parameter.containsKey('amount') and amount != null">
                amount = #{amount},
            </if>
            <if test="_parameter.containsKey('payee') and payee != null">
                payee = #{payee},
            </if>
            <if test="_parameter.containsKey('payTime') and payTime != null">
                pay_time = #{payTime},
            </if>
            <if test="_parameter.containsKey('name')">
                name = #{name},
            </if>
            <if test="_parameter.containsKey('companyId') and companyId != null">
                company_id = #{companyId},
            </if>
            <if test="_parameter.containsKey('holder') and holder != null">
                holder = #{holder},
            </if>
            <if test="_parameter.containsKey('holderAccount')">
                holder_account = #{holderAccount},
            </if>
            <if test="_parameter.containsKey('depositBank')">
                deposit_bank = #{depositBank}
            </if>
        </trim></set>
         where custom_order_id = #{orderId} and funds = #{funds}
    </update>

    <select id="findListByPaginateFilter" resultMap="PaymentMapDtoT">
        select p.id, p.no,p.type, p.way, p.funds, p.notes, p.creator, p.created, p.status, p.custom_order_id, p.auditor, p.audited, p.amount,p.pay_amount, p.payee, p.name, p.company_id, p.holder, p.holder_account, p.deposit_bank,p.pay_time,p.bank,
        p.resource_type,
        u.name creatorName,uu.name payeeName,uuu.name auditorName,IFNULL(co.no,a.no) orderNo,c.name companyName,IFNULL(cc.name,ccc.name) customName,
        b.value fundsName
        from payment p
        left join custom_order co on p.custom_order_id=co.id
        left join aftersale_apply a on p.custom_order_id = a.id
        left join custom_order coo on coo.id = a.custom_order_id
        left join company_customer ccc on coo.customer_id = ccc.id
        left join company_customer cc on co.customer_id=cc.id
        left join user u on p.creator = u.id
        left join user uu on p.payee = uu.id
        left join user uuu on p.auditor = uuu.id
        left join company c on p.company_id=c.id
        left join basecode b on b.code = p.funds
        <where>
            <trim prefixOverrides="and">
                b.type = 'paymentFunds'
                <if test="orderNo!=null">
                    and co.no like '%${orderNo}%'
                </if>
                <if test="type!=null">
                    and p.type = ${type}
                </if>
                <if test="bank!=null">
                    and p.bank = ${bank}
                </if>
                <if test="companyId!=null">
                    and p.company_id = #{companyId}
                </if>
                <if test="status!=null">
                    and p.status = #{status}
                </if>
                <if test="customerTel!=null">
                    and o.customer_tel = #{customerTel}
                </if>
                <if test="branchId!=null">
                    and p.branch_id = #{branchId}
                </if>
                <if test="fundsList!=null">
                    and p.funds in
                    <foreach collection="fundsList" item="funds" open="(" close=")" separator=",">
                        #{funds}
                    </foreach>
                </if>
                <if test="payTimeNow!=null">
                    and to_days(p.pay_time) = to_days(now())
                </if>
            </trim>
        </where>
    </select>


    <!--审核货款 -->
    <update id="verifyOrderPrice">
        update payment set
        amount = #{amount},
        <if test="_parameter.containsKey('notes') and notes != null">
            notes=#{notes},
        </if>
        <if test="_parameter.containsKey('pay_time') and pay_time != null">
            pay_time=#{pay_time},
        </if>
        <if test="_parameter.containsKey('holder') and holder != null">
            holder=#{holder},
        </if>
        status=1
        where id = #{paymentId} and funds=#{funds}
    </update>
    <!--审核设计费 -->
    <update id="verifyDesignPrice">
        update payment set
        amount = #{amount},
        <if test="_parameter.containsKey('notes') and notes != null">
            notes=#{notes},
        </if>
        <if test="_parameter.containsKey('pay_time') and pay_time != null">
            pay_time=#{pay_time},
        </if>
        <if test="_parameter.containsKey('holder') and holder != null">
            holder=#{holder},
        </if>
        status=1
        where id = #{paymentId} and funds=#{funds}
    </update>

    <select id="findByOrderIdAndType" resultType="java.util.Map">
        select
        p.amount,p.audited,u.name as auditorName,
        (case p.status
        when 0 then '未审核'
        when 1 then '已审核'
        else '未知' end) status
        from payment p
        left join user u on u.id = p.auditor
        where p.custom_order_id = #{orderId}
        and p.type = #{type}
        and p.funds = #{funds}
    </select>

    <delete id="deleteByOrderId">
        delete from payment where custom_order_id = #{orderId}
    </delete>

    <!--财务 经销商财务信息列表 -->
    <select id="selectCompanyFinanceList" resultMap="CompanyFinanceListDto">
        select p.id as payment_id,p.bank,
        p.created,
        IFNULL((select name from user where id=p.creator),'') as creator,
        c.name as company_name,p.type,p.funds,p.amount,p.way,p.notes,p.holder,
        IFNULL((select name from user where id=p.holder),'') as holder_name
        from payment p,company c
        <![CDATA[ where c.id=p.company_id ]]>
        <if test="beginTime!=null and beginTime!=''">
            <![CDATA[   and DATE_FORMAT(p.created, '%Y-%m-%d')>=  DATE_FORMAT(#{beginTime}, '%Y-%m-%d')   ]]>
        </if>
        <if test="endTime!=null and endTime!=''">
            <![CDATA[  and DATE_FORMAT(p.created, '%Y-%m-%d') <= DATE_FORMAT(#{endTime}, '%Y-%m-%d')    ]]>
        </if>
        <if test="funds != null">
            AND p.funds = #{funds}
        </if>
        <if test="way != null">
            AND p.way = #{way}
        </if>
        <if test="bank != null">
            AND p.bank = #{bank}
        </if>
        <if test="companyName != null">
            AND c.name like CONCAT('%',#{companyName},'%')
        </if>
        <if test="companyId != null">
            AND c.id =#{companyId}
        </if>
        <if test="type != null">
            AND p.type = #{type}
        </if>
        <if test="status != null">
            AND p.status = #{status}
        </if>
        <if test="id != null">
            AND p.id = #{id}
        </if>

    </select>

    <!--财务 经销商财务信息详情 -->
    <select id="getCompanyFinanceInfoByPaymentId" resultMap="CompanyFinanceInfoDto">
        select c.name as company_name,p.type,p.funds,p.way,p.amount,p.created,p.notes,u.name,p.holder,uh.name as holder_name,p.bank
        from payment p
        left join company c on c.id=p.company_id
        left join user uh on uh.id = p.holder
        left join user u on u.id = p.creator and p.type in (2,4,5)
        where p.id = #{paymentId}
    </select>
    <select id="findByOrderIdAndFunds" resultMap="PaymentMapDto">
        select p.id,p.created ,p.holder,p.status,u.name auditorName,p.audited,p.type,p.way
        from payment p
        left join user u on u.id=p.auditor
        where p.custom_order_id = #{orderId} and p.funds=#{funds}
    </select>


    <select id="findOrderFinanceInfo" resultMap="PaymentMapDtoT">
        select p.id, p.no,p.type, p.way, p.funds, p.notes, p.creator, p.created, p.status, p.custom_order_id, p.auditor, p.audited, p.amount,p.pay_amount, p.payee, p.name, p.company_id, p.holder, p.holder_account, p.deposit_bank,p.pay_time,
        u.name creatorName,uu.name payeeName,uuu.name auditorName,IFNULL(co.no,a.no) orderNo,c.name companyName,IFNULL(cc.name,ccc.name) customName,
        b.value fundsName,p.resource_type
        from payment p
        left join custom_order co on p.custom_order_id=co.id
        left join company_customer cc on co.customer_id=cc.id
        left join aftersale_apply a on a.id = p.custom_order_id
        left join custom_order coo on coo.id = a.custom_order_id
        left join company_customer ccc on ccc.id = coo.customer_id
        left join user u on p.creator = u.id
        left join user uu on p.payee = uu.id
        left join user uuu on p.auditor = uuu.id
        left join company c on p.company_id=c.id
        left join basecode b on b.code = p.funds
       where p.id=#{paymentId} and b.type = 'paymentFunds'

    </select>

    <select id="countPaymentForPageIndex" resultType="com.lwxf.mybatis.utils.MapContext">
          select
          ifnull((select count(*) from payment where type=1 and DATE_FORMAT(created,'%Y-%m-%d')=DATE_FORMAT(CURDATE(),'%Y-%m-%d') and branch_id=#{branchId}),0) as today_income_count,
          ifnull((select sum(amount) from payment where type=1 and DATE_FORMAT(created,'%Y-%m-%d')=DATE_FORMAT(CURDATE(),'%Y-%m-%d') and branch_id=#{branchId}),0) as today_income_amount,
          ifnull((select count(*) from payment where type=2 and DATE_FORMAT(created,'%Y-%m-%d')=DATE_FORMAT(CURDATE(),'%Y-%m-%d') and branch_id=#{branchId}),0) as today_outcome_count,
          ifnull((select sum(amount) from payment where type=2 and DATE_FORMAT(created,'%Y-%m-%d')=DATE_FORMAT(CURDATE(),'%Y-%m-%d') and branch_id=#{branchId}),0) as today_outcome_amount
    </select>

    <select id="findPrintTableById" resultMap="paymentPrintDto">
        select <include refid="columnDtos"/>,b.value typeName,IFNULL(c.no,a.no) orderNo
        from
        (select p.*,u.name creatorName from payment p left join user u on p.creator = u.id where p.id = #{id})
        p
        left join custom_order c on c.id = p.custom_order_id
        left join aftersale_apply a on a.id = p.custom_order_id
        left join user u on p.auditor = u.id
        left join basecode b on p.type = b.code
        where b.type = 'paymentType'
    </select>

    <select id="findTodayAmountByType" resultType="java.math.BigDecimal">
        select IFNULL(sum(amount),0) from payment
        where
        type = #{type}
        and to_days(pay_time) = to_days(now())
    </select>

</mapper>
